<div>
  <%= form_for(@task) do |f| %>
    <table>
      <tr>
        <td style="padding:20px 20px 0px 0px"><%= f.label :description, 'タスク', :class => "lead" %></td>
        <td style="padding:20px 20px 0px 0px"><%= f.label :priority, '優先度', :class => "lead" %></td>
        <td style="padding:20px 20px 0px 0px"><%= f.label :user, '担当者', :class => "lead" %></td>
        <td></td>
      </tr>
      <tr>
        <td style="padding:5px 20px 0px 0px"><%= f.text_field :description, :class => "form-control", :size => "30" %></td>
        <td style="padding:5px 20px 0px 0px"><%= f.select :priority, Priority.all.map{|t| [t.name, t.id]}, {}, { class: "form-control" } %></td>
        <td style="padding:5px 20px 0px 0px"><%= f.select :user, User.where(["trainer_id = ? or id = ?", current_user.id,current_user.id]).map{|t| [t.name, t.id]}, {}, { class: "form-control" } %></td>
        <td style="padding:5px 20px 0px 0px"><%= f.submit '登録', :class => "form-control" %></td>
      </tr>
    </table>
  <% end %>
</div>

<hr>
<%= form_tag('/task', method: :get, id: "condition") do %>
  <%= radio_button_tag("condition", 1, @cond1 || true, id: :cond1) %> <%= label_tag("cond1", "残存", :class => "lead") %>
  <%= radio_button_tag("condition", 2, @cond2 || false, id: :cond2) %> <%= label_tag("cond2", "完了", :class => "lead") %>
  <%= radio_button_tag("condition", 3, @cond3 || false, id: :cond3) %> <%= label_tag("cond3", "全件", :class => "lead") %>
<% end %>

<% if @mytasks.empty? %>
  <p>taskはありません</p>
<% else %>
  <table class="tasktable">
   <% @mytasks.each do |task| %>
    <tr>
      <td><input type="checkbox" id="chk<%= task.id %>" <%= task.completed ? 'checked' : '' %> onClick="Turbolinks.visit('/task/<%= task.id %>')"></td>
      <td><%= task.priority.name %></td>
      <td><%= task.user.name %></td>
      <td><%= link_to task.description, controller: "task", action: "content", id: task %></td>
      <td><%= link_to '削除', task, method: :delete, data:{ confirm: '削除しますか？'}, :class => "btn btn-danger btn-sm" %></td>
    </tr>
  <% end %>
<% if @traineetasks.nil? %>
  <p>トレーニのtaskはありません</p>
<% else %>
  <% @traineetasks.each do |ttask| %>
   <tr>
     <td><input type="checkbox" id="chk<%= ttask.id %>" <%= ttask.completed ? 'checked' : '' %> onClick="Turbolinks.visit('/task/<%= ttask.id %>')"></td>
     <td><%= ttask.priority.name %></td>
     <td><%= ttask.user.name %></td>
     <td><%= ttask.description %></td>
     <td><%= link_to '削除', ttask, method: :delete, data:{ confirm: '削除しますか？'}, :class => "btn btn-danger btn-sm" %></td>
   </tr>
  <% end %>
  </table>
<% end %>
<% end %>

<script>
  $(function(){
    $('input[name=condition]').change(function(){
       $('form#condition').submit();
    });
  });
</script>    
