<div>
  <%= form_for(@task) do |f| %>
    <table>
      <tr>
        <td><%= f.label :description, 'タスク' %></td>
        <td><%= f.label :priority, '優先度' %></td>
        <td><%= f.label :user, '担当者' %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.text_field :description %></td>
        <td><%= f.select :priority, Priority.all.map{|t| [t.name, t.id]} %></td>
        <td><%= f.select :user, [[current_user.name, current_user.id]] %></td>
        <td><%= f.submit '登録' %></td>
      </tr>
    </table>
  <% end %>
</div>

<hr>

<% if @tasks.empty? %>
  <p>taskはありません</p>
<% else %>
  <table>
   <% @tasks.each do |task| %>
    <tr>
      <td><input type="checkbox" <%= task.completed ? 'checked' : '' %></td>
      <td><%= task.priority.name %></td>
      <td><%= task.user.name %></td>
      <td><%= task.description %></td>
      <td>削除</td>
    </tr>
  <% end %>
  </table>
<% end %>

    
