<h1>ユーザ登録</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td style="padding:20px 20px 0px 0px"><%= f.label :mail, 'メール', :class => "lead" %></td>
      <td><%= f.text_field :mail, :class => "form-control", :size => "30" %></td>
    </tr>
    <tr>
      <td style="padding:20px 20px 0px 0px"><%= f.label :name, '名称', :class => "lead" %></td>
      <td><%= f.text_field :name, :class => "form-control", :size => "30" %></td>
    </tr>
    <tr>
      <td style="padding:20px 20px 0px 0px"><%= f.label :trainer_id, 'トレーナー', :class => "lead" %></td>
      <td><%= f.select :trainer_id, User.all.map{|t| [t.name, t.id]}, { :include_blank => true }, { class: "form-control" } %></td>
    </tr>
    <tr>
      <td style="padding:20px 20px 0px 0px"><%= f.label :password, 'パスワード', :class => "lead" %></td>
      <td><%= f.password_field :password, :class => "form-control", :size => "30" %></td>
    </tr>
    <tr>
      <td style="padding:20px 20px 0px 0px"><%= f.label :password_confirmation, 'パスワード(2回目)', :class => "lead" %></td>
      <td><%= f.password_field :password_confirmation, :class => "form-control", :size => "30" %></td>
    </tr>
    <tr>
      <td style="padding-top:20px" colspan="2"><%= f.submit '登録', :class => "btn btn-default btn-block" %></td>
    </tr>
  </table>
<% end %>
