<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <div>
    <table>
      <tr>
        <td>
          <%= link_to 'ToDoリスト', :root %>
        </td>
        <td>
          <% if current_user %>
            <%= link_to current_user.name, edit_user_path(current_user) %> |
            <%= link_to 'ログアウト', logout_path, method: :post %>
          <% else %>
            <%= link_to '登録', new_user_path %> | 
            <%= link_to 'ログイン', login_path %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <%= yield %>
</div>
</body>
</html>
